{% extends 'layout.html' %}
{% block content %}
    
    <div class="col-sm-10 mx-auto ">                            <!-- Column class defining how div reacts to different screen sizes -->
        <H2>Transaction History</H2>
        <table class="table">                                           <!-- Create a bootstrap table -->
            <thead class="table-dark">                                  <!-- Make table head dark -->
                <tr>                                                    <!-- Define table row -->
                    <th scope="col">ID</th>                             <!-- Scope is html semantic class for screen readers-->
                    <th scope="col">Date</th>                           <!-- This says 'Date' is the table header of a column-->
                    <th scope="col">Type</th>
                    <th scope="col">Category</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in entries %}                                  <!-- Retrieve data from database -->
                        <tr>
                            <th scope="row">{{loop.index}}</th>             <!-- Special Jinja2 var that represents 1 based index of current for loop interation-->
                            <td>{{entry.date.strftime("%m-%d-%Y")}}</td>
                            <td>{{entry.type}}</td>
                            <td>{{ entry.category }}</td>
                            <td>{{ entry.amount }}</td>
                            <td><a href="#" class="btn btn-outline-danger btn-sm">Delete</a></td> <!-- Button used to delete columns-->
                        </tr>
                {% endfor %}
        </tbody>
        </table>
    </div>
{% endblock %}

<!-- {{ url_for('delete', entry_id = entry.id) }} -->

